/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

/* reset.css */
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', 'Open Sans';
}

main {
    /* Flexbox layout을 활용해 정중앙으로 보내려면? */
    height: 60vh;
}

.container {
    text-align: center;
}

.container h2,
p {
    /* 카운트 값의 폰트 사이즈가 너무 작다. 폰트 크기를 3rem으로 확대 */
    margin: 1rem;
    font-size: 3rem;
}

.container p {
    color: grey;
}

.btn {
    font-family: 'Titillium Web', 'Open Sans';
    letter-spacing: 0.1rem;
    /* 버튼이 서로 너무 붙어있다. 바깥 여백을 적용해서 서로 밀어내자 */
    margin: 5px;
    /* 버튼 텍스트가 경계선과 너무 붙어있다. 안쪽 여백을 적용해서 밖으로 밀어내자 */
    padding: 10px;

    text-transform: uppercase;
    background: transparent;
    color: black;
    display: inline-block;

    /* 버튼의 외곽선(border) 디자인으로 점선을 적용*/
    /* 버튼 외곽선 굵기로 2px을 적용 */
    /* 버튼 외곽선 색상은 black으로 적용 */
    border: 2px dashed black;

    font-size: 1rem;
    font-weight: 700;
}